:root {
    --primary-bg-color: #E5E5E5;
    --primary-color: #d4b37f;
    --color-black: #161616;
    --color-blue: #211f4f;
    --color-light-blue: #225bf6;
    --color-green: #1a381d;
    --color-light-green: #16c259;
    --color-red: #50091e;
    --color-light-red: #e31542;
}
