@import '@/styles/abstract/media.scss';

.header {
    background-color: var(--color-black);
    height: auto;

    @include desktop {
        height: 47px;
    }

    div {
        height: 100%;
    }

    &__item {
        @include desktop {
            margin-inline-end: 80px;
        }
    }
}
