.primary-button {
    padding: 30px 94px;
    text-align: center;
    font-size: 35px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--color-black);
    text-transform: uppercase;
}